PORT=5000
MONGO_URI=mongodb+srv://blog:blog123@cluster0.ywglzmz.mongodb.net/?appName=Cluster0
JWT_SECRET=secret123
JWT_EXPIRE=7d
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
